/*  In case padding causes horizontal scroll
* , *:before, *:after{ 
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    -ms-box-sizing:border-box;
    */

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    /*
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
}
.pimg1{
    background-image: url("../images/bannner.jpg");
    min-height: 70vh;
}
.pimg2{
    background-image: url("../images/city2.jpg");
    min-height: 100%;
}
.pimg3{
    background-image: url("../images/city3.jpg");
    min-height: 400px;
}
.pimg4{
    background-image: url("../images/city4.jpg");
    min-height: 400px;
}
.pimg5{
    background-image: url("../images/city5.jpg");
    min-height: 400px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-green{
    background-color: rgb(97,141,43);
    color: white;
    min-height: 100%;
}
.section-light2{
    background-color: white;
    color: black;
    min-height: 100%;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
    min-height: 100%;
}
.ptext{
    position: absolute;
    top: 1em;
    width: 100%;
    text-align: left;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 10px;
}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
}
@media(max-width: 560px){
    .pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
        background-attachment: scroll;
    }
}
.ptext2{
    position: absolute;
    top: 50%;
    width: 50%;
    text-align: left;
    margin: 10px;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.gcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.button{
    border-radius: 5px;
    padding: 12px 18px;
    margin: 0.618em;
    background-color: rgb(142,199,61);
}
.button-a{
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color: rgb(181, 228, 116);
    transition: 0.2s;
}
h2{
    font-family: 'Poppins', sans-serif;
}

/* Styles for Mobile Devices */'
/* @media(max-width: 400px){
    .gcontainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
} */
/* Styles for Mobile Devices */