body{
    margin: 0;
}
.navbar-container{
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-item2{
    font-family: 'Allison', cursive;
    font-size: 5em;
    color: rgb(100,144,46);
}
.nav-logo-link{
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.nav-link:hover{
    text-decoration: none;
    color: rgb(142,199,61);
    transition: 0.2s;
}
.button-link{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.nav-item9{
    border-radius: 5px;
    padding: 12px 18px;
    margin: 0.618em;
    background-color: rgb(142,199,61);
}
.nav-item9:hover{
    background-color: rgb(181, 228, 116);
    transition: 0.2s;
}