.three-steps-container{
    background-color: rgb(242,242,242);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "heading heading heading"
    "contenta contentb contentc"
    "footer footer footer";
}
.three-steps-heading{
    grid-area: heading;
    padding: 12px 18px;
    margin: 0.618em;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    letter-spacing: 0.03em;
    justify-self: center;
}
.three-steps-item1{
    min-height: 400px;
}
.three-steps-item1-image1{
    background-image: url("../images/Numbers/number-1.png");
    min-height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}
.three-steps-item1-image2{
    background-image: url("../images/Numbers/number-2.png");
    min-height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}
.three-steps-item1-image3{
    background-image: url("../images/Numbers/number-3.png");
    min-height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}
.three-steps-footer{
    grid-area: footer;
    justify-self: center;
}
.get-started-center{
    border-radius: 5px;
    padding: 18px;
    margin: 0.618em;
    background-color: rgb(142,199,61);
    width: 100px;
}
.get-started-center:hover{
    background-color: rgb(181, 228, 116);
    transition: 0.2s;
}
.paragraph{
    padding: 12px 18px;
    margin: 0.618em;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    letter-spacing: 0.03em;
    line-height: 1.6em;
}